.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-card {
  width: 430px;
}


.game-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
  z-index: 1;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modal-dark .modal-content {
  background-color: #343a40;
  color: white;
}

.modal-dark .close {
  color: white;
}

.modal-body iframe {
  width: 100%;
  height: 235px;
}